.home{
  font-size: 40px;
  border-color: black;
  border-style: dotted;
  border-radius: 50px;
  width: 330px;
  margin: auto;
  margin-top: 60px;
  background-color: aliceblue;
}
body{
  background: rgb(34,193,195);
  background: linear-gradient(0deg,rgb(34,193,195,1)0%,rgba(121,32,153,1)86%);
  background-attachment: fixed;
}

a{
  color: rgb(4, 4, 4);
}